<div class="jumbotron">
  <h1 class="display-3">Open Weather</h1>
  <p class="lead">Simple weather app to display the current weather in a given location.</p>
  <hr class="my-4">
  <p>Get current weather and forecast in your city.</p>
</div>

<div class="row justify-content-center">
  <%= form_tag :find_weather, class: "form-inline", method: :get do %>
    <div class="form-group mx-sm-3">
      <%= text_field_tag "city", "", class: "form-control", placeholder: "Your City name" %>
    </div>
    <%= submit_tag "Search", class: "btn btn-primary", id: "search" %>
  <% end %>
</div>

<div class="row justify-content-center">
  <!-- helper method to display weather details -->
  <%= weather_info_html(@weather) %>
</div>
